[package]
name = "examples"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
alloy-primitives.workspace = true
binius_circuits = { path = "../crates/circuits" }
binius_core = { path = "../crates/core" }
binius_field = { path = "../crates/field" }
binius_hal = { path = "../crates/hal" }
binius_hash = { path = "../crates/hash" }
binius_macros = { path = "../crates/macros" }
binius_math = { path = "../crates/math" }
binius_utils = { path = "../crates/utils" }
bumpalo.workspace = true
bytesize.workspace = true
clap = { version = "4.5.20", features = ["derive"] }
groestl_crypto.workspace = true
itertools.workspace = true
rand.workspace = true
tracing-profile.workspace = true
tracing.workspace = true

[[example]]
name = "groestl_circuit"
path = "groestl_circuit.rs"

[[example]]
name = "keccakf_circuit"
path = "keccakf_circuit.rs"

[[example]]
name = "u8mul"
path = "u8mul.rs"

[[example]]
name = "u32add_with_lookup"
path = "u32add_with_lookup.rs"

[[example]]
name = "modular_mul"
path = "modular_mul.rs"

[[example]]
name = "vision32b_circuit"
path = "vision32b_circuit.rs"

[[example]]
name = "sha256_circuit"
path = "sha256_circuit.rs"

[[example]]
name = "sha256_circuit_with_lookup"
path = "sha256_circuit_with_lookup.rs"

[[example]]
name = "collatz"
path = "collatz.rs"

[[example]]
name = "u32_add"
path = "u32_add.rs"

[[example]]
name = "u32_mul"
path = "u32_mul.rs"

[[example]]
name = "bitwise_ops"
path = "bitwise_ops.rs"

[[example]]
name = "b32_mul"
path = "b32_mul.rs"

[lints.clippy]
needless_range_loop = "allow"

[features]
aes-tower = []
bail_panic = ["binius_utils/bail_panic"]
fp-tower = []
