[package]
name = "examples"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
binius_core = { path = "../crates/core" }
binius_field = { path = "../crates/field" }
binius_hash = { path = "../crates/hash" }
binius_macros = { path = "../crates/macros" }
binius_math = { path = "../crates/math" }
binius_utils = { path = "../crates/utils" }
bytemuck.workspace = true
bytesize.workspace =  true
itertools.workspace = true
p3-challenger.workspace = true
p3-symmetric.workspace = true
rand.workspace = true
rayon.workspace = true
tiny-keccak.workspace = true
tracing-profile.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
sha2 = { version = "0.10.8", features = ["compress"] }

[[example]]
name = "bitwise_and_proof"
path = "bitwise_and_proof.rs"

[[example]]
name = "groestl"
path = "groestl.rs"

[[example]]
name = "keccakf"
path = "keccakf.rs"

[[example]]
name = "lasso"
path = "lasso.rs"

[[example]]
name = "u32add"
path = "u32add.rs"

[[example]]
name = "u32fib"
path = "u32fib.rs"

[[example]]
name = "vision32b"
path = "vision32b.rs"

[[example]]
name = "sha256"
path = "sha256.rs"

[lints.clippy]
needless_range_loop = "allow"

[features]
aes-tower = []
tracy = ["binius_utils/tracy"]
